
<div class="row mx-0">
    <div class="col-md-8 offset-md-2 col-sm-12">
        <hr>
        <h2 class="mb-4" style="margin-top:50px;">Comments</h2>

        <form method="post" action="{{ path('comment_new', {'id': exercise.id}) }}" id="formComment">
            <div class="form-group row">
                <textarea id="commentInput" type="text" class="col-8 form-control" name="commentInput" placeholder="new comment" required ></textarea>
                <input id="exerciseId" type="hidden" name="exerciseId" value="{{ exercise.id }}" />
                <button class="col-2 btn btn-primary ml-3" style="max-height:120px;">add comment</button>
            </div>
        </form>

        <div id="comments" class="comments mt-5">
            {% for comment in exercise.comments|sort((c1, c2) => c1.createdAt <= c2.createdAt) %}
                <div id="comment{{ comment.id }}">
                    <hr>
                    <div id="actionEditedMessage{{ comment.id }}" class="alert alert-success w-50" style="display:none;" role="alert">edited</div>
                    <div id="actionDeletedMessage{{ comment.id }}" class="alert alert-danger w-50" style="display:none;" role="alert">deleted</div>
                    <div class="commentContent{{ comment.id }} my-4" style="border-left: 1px solid grey; padding: 0px 30px;">
                        {% if is_granted("comment_change", comment) %}
                            <strong class="p-1 text-light bg-secondary">{{ comment.users.firstName }} {{  comment.users.lastName }}</strong>
                        {% else %}
                            <strong class="p-1">{{ comment.users.firstName }} {{  comment.users.lastName }}</strong>
                        {% endif %}
                        <p class="d-inline px-3 light-black"> - </p>
                        <p class="d-inline pr-3 light-black">
                            {% if comment.updatedAt is null %}
                                {{ comment.createdAt | dateDiff(comment.createdAt) }}
                            {% else %}
                                {{ comment.updatedAt | dateDiff(comment.updatedAt) }} (modifié)
                            {% endif %}
                        </p>
                        {% if is_granted("comment_change", comment) %}
                            <div class="comment_action_button d-inline light-black">
                                <p class="d-inline"> - </p>
                                <a href="#" class="commentEditButton d-inline mx-2" data-id={{ comment.id }}><u>edit</u></a>
                                <a href="#deleteModal{{ comment.id }}" class="d-inline mx-2" data-toggle="modal"><u>delete</u></a>
                            </div>
                        {% endif %}

                        <p id="commentText{{ comment.id }}" class="pt-2 pb-1">{{ comment.text | escape}}</p>

                        <div id="divFormEditComment{{ comment.id }}" style="display:none;">
                            <form method="post" action="{{ path('comment_edit', {'id': comment.id}) }}" id="formCommentEdit{{ comment.id }}">
                                <div class="form-group row">
                                    <textarea type="text" class="commentEditInput col-8 form-control" name="commentEditInput" required ></textarea>
                                    <input class="commentId" type="hidden" name="commentId" value="{{ comment.id }}" />
                                    <button class="submitEditButton col-2 btn btn-primary ml-3" style="max-height:40px;" data-id={{ comment.id }}>edit</button>
                                </div>
                            </form>
                        </div>

                        <!--<button class="button_reply_comment btn btn-secondary py-0">reply</button>-->

                        <div class="modal fade" id="deleteModal{{ comment.id }}" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <h5>Validation</h5><br />
                                        <p>Please confirm the deletion of your comment</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="commentDeleteButton btn btn-primary" data-id={{ comment.id }} data-src={{ path('comment_delete') }} data-token="{{ csrf_token(app.user.id) }}">Confirm</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            {% else %}
                <p id="message_no_comment" colspan="3">no comments for this exercise</p>
            {% endfor %}

            <input class="tokenId" type="hidden" data-token="{{ csrf_token(app.user.id) }}" />
            <input class="pathForEdition" type="hidden" data-src="{{ path('comment_edit') }}" />
            <input class="pathForDeletion" type="hidden" data-src="{{ path('comment_delete') }}" />

        </div>
    </div>
</div>

