{% extends 'base.html.twig' %}

{% block title %}Question{% endblock %}

{% block body %}
    <h1 class="my-5 text-center">Question</h1>

     <div class="row">
        <div class="col-md-2">
            <a href="{{ app.request.headers.get('referer') }}" class="btn btn-secondary"><< Back</a>
        </div>
        <div class="col-md-8">
            <div class="row mb-5">
                <a href="{{ path('professor_question_edit', {'id': question.id, 'exercise':question.exercises.id}) }}" class="btn btn-info mx-3"><i class="far fa-edit mr-2"></i>Edit</a></i></a>
                <br>
                {{ include('professor/question/_delete_form.html.twig') }}
            </div>
            <table class="table table-striped table-bordered">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ question.id }}</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>{{ question.name |u.truncate(30, '...')}}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ question.description|u.truncate(30, '...')}}</td>
                    </tr>
                    <tr>
                        <th>Difficulty</th>
                        <td>{{ question.difficulty |u.truncate(30, '...')}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
