{% extends 'base.html.twig' %}

{% block title %}Exercise{% endblock %}

{% block body %}
    <h1 class="my-5 text-center">Exercise</h1>

    <div class="row">
        <div class="col-md-2">
            <a href="{{ path('professor_exercise_index') }}" class="btn btn-secondary"><< Back</a>
        </div>
        <div class="col-md-8">
            <div class="row mb-5">
                <a href="{{ path('professor_exercise_edit', {'id': exercise.id}) }}" class="btn btn-info mx-3"><i class="far fa-edit mr-2"></i>Edit</a></i></a>
                {{ include('professor/exercise/_delete_form.html.twig') }}
            </div>
            <table class="table table-striped table-bordered">
                <tbody>
                    
                    <tr>
                        <th>Name</th>
                        <td>{{ exercise.name|u.truncate(30, '...') }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ exercise.description |u.truncate(30, '...')}}</td>
                    </tr>
                    <tr>
                        <th>Subject</th>
                        <td>{{ exercise.subject.name|u.truncate(30, '...') }}</td>
                    </tr>
                </tbody>
            </table>
            <h2>Questions :</h2>
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th>Id<i class="fas fa-sort icon-sort"></i></th>
                    <th>Name<i class="fas fa-sort icon-sort"></i></th>
                    <th>Description<i class="fas fa-sort icon-sort"></i></th>
                    <th>Difficulty<i class="fas fa-sort icon-sort"></i></th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for question in questions %}
                    <tr>
                        <td>{{ question.id }}</td>
                        <td>{{ question.name|u.truncate(30, '...') }}</td>
                        <td>{{ question.description|u.truncate(30, '...') }}</td>
                        <td>{{ question.difficulty |u.truncate(30, '...')}}</td>
                        <td>
                            <a href="{{ path('professor_question_show', {'id': question.id}) }}" class="btn btn-info"><i class="fas fa-eye"></i></a>
                            <a href="{{ path('professor_question_edit', {'id': question.id, 'exercise':question.exercises.id}) }}" class="btn btn-info"><i class="far fa-edit mr-2"></i>Edit</a></i></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">no records found</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-md-12 my-5 pt-2 pb-5">
            {% include('comment/index.html.twig') %}
        </div>
    </div>

{% endblock %}
