{% extends 'base.html.twig' %}

{% block title %}Exercise index{% endblock %}

{% block body %}

    <div class="row my-5">
        {% if exercises is defined %}
            <div class="col-md-10 offset-md-1 col-sm-12">
                <div class="row mx-1 my-3">
                    <div class="col-lg-4 col-md-6 m-auto">
                        <div class="search-bar">
                            <input type="text" id="myInput" placeholder="Search an exercise">
                            <span class="bi bi-search icon-search"></span>
                        </div>
                    </div>
                </div>
                <table id="myTable" class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            {# <th>Id</th> #}
                            <th>Name<i class="fas fa-sort icon-sort"></i></th>
                            <th>Description<i class="fas fa-sort icon-sort"></i></th>
                            <th>Subject<i class="fas fa-sort icon-sort"></i></th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for exercise in exercises %}
                            <tr>
                                {# <td>{{ exercise.id }}</td> #}
                                <td>{{ exercise.name |u.truncate(30, '...')}}</td>
                                <td>{{ exercise.description |u.truncate(30, '...')}}</td>
                                <td>{{ exercise.subject.name |u.truncate(30, '...')}}</td>
                                {% if app.user in exercise.solvedBy %}
                                    <td><a href="{{ path('student_exercise_show', {'id' : exercise.id}) }}"><button class="btn btn-info">Results</button></a></td>
                                {% else %}
                                    <td><a href="{{ path('student_exercise_show', {'id' : exercise.id}) }}"><button class="btn btn-info"><i class="fas fa-eye"></i></button></a></td>
                                {% endif %}
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5">No Records Found !!</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <h2 style="text-align: center; width: 100%">No class assigned</h2>
        {% endif %}
    </div>
{% endblock %}
