{% extends 'base.html.twig' %}

{% block title %}Exercise{% endblock %}

{% block body %}
    <h1 class="my-5 text-center">{{ exercise.name | capitalize }}</h1>

    {% if error is not empty %}
        <div class="alert alert-danger text-center">{{ error }}</div>
    {% endif %}
    <div class="row">
        <div class="col-md-8 offset-md-2 col-sm-12">
            <br>
            <form method="post" action="{{ path('student_exercise_submit',{'id' : exercise.id}) }}">
                {% for question in exercise.questions %}
                    <table class="table" style="margin-bottom: 50px;">
                        <tbody>
                            <tr>
                                <td><p class="h4">{{ question.name }}</p></td>
                                <td>( DIFFICULTY: {{ question.difficulty }} )</td>
                            </tr>
                            <tr>
                                <td colspan="3" style="border: 1px solid #CCCCCC;">
                                    <p> {{ question.description }} </p>
                                    {% if question.type == "qcm" %}
                                        {% for answer in question.otheranswers|shuffle %}
                                            <input name="{{ question.id }}" type="radio" value="{{ answer }}" required>
                                            <label>{{ answer }}</label>
                                            <br>
                                        {% endfor %}
                                    {% elseif question.type == "code" %}
                                        <div hidden>
                                            <span id="test1">{{ question.test1 }}</span>
                                            <span id="test2">{{ question.test2 }}</span>
                                            <span id="test3">{{ question.test3 }}</span>
                                            <span id="function-name">{{ question.funcName }}</span>
                                            <input id="test1-result" name="test1-result" type="text" />
                                            <input id="test2-result" name="test2-result" type="text" />
                                            <input id="test3-result" name="test3-result" type="text" />
                                        </div>
                                        <div id="test"></div>
                                        <button type="button" id="reset-code-btn" class="btn btn-secondary">Reset</button>
                                        <p class="error-message-code" style="color: red; font-weight: bold; display: none;">
                                            Fix errors before submitting
                                        </p>
                                        <input class="result" name="result" style="display: none;"/>
                                    {% elseif question.type == "libre" %}
                                        <input name="{{ question.id }}" type="text" class="form-control" required>
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                {% else %}
                    <tr>
                        <td colspan="5">no records found</td>
                    </tr>
                {% endfor %}
                {% if is_granted("exerciseStudent_show", exercise.groups) %}
                    <input type="submit" value="Submit answers" class="btn btn-primary" id="submit-answers-btn">
                {% endif %}
            </form>
        </div>
    </div>
    <div class="col-md-12 my-5 pt-2 pb-5">
        {% include('comment/index.html.twig') %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

{% endblock %}
  {% block javascripts %}
      {{ encore_entry_script_tags('app')}}
      {{ encore_entry_script_tags('editor')}}
  {% endblock %}
