{% extends 'base.html.twig' %}

{% block title %}success payment{% endblock %}

{% block body %}

   <div class="container">
       <div class="row">
           <div class="col-md-4 offset-md-4 mt-5">
              <div class="card">
                  <div class="card-body">
                      <h5 class="card-title">Pack {{ pack.name|capitalize }} {{ pack.price }}/MO</h5>
                      <form action="{{ path('payment_checkout',{'pack':pack.id}) }}" method="post" id="payment-form">
                          <div class="form-group">
                              <label for="name">Card Holder</label>
                              <input type="text" name="cname" class="form-control" placeholder="Jhon" required>
                          </div>
                          <div class="form-group">
                              <label for="name">Email Address</label>
                              <input type="text" name="email" class="form-control" placeholder="jhon@gmail.com" required>
                          </div>
                          <div class="form-group">
                              <div class="form-row">
                                  <label for="card-element">
                                      Credit or debit card
                                  </label>
                                  <div id="card-element">
                                      <!-- A Stripe Element will be inserted here. -->
                                  </div>

                                  <!-- Used to display Element errors. -->
                                  <div id="card-errors" role="alert"></div>
                              </div>
                          </div>
                          <div class="form-group">
                              <button type="submit" class="btn btn-block btn-success">Pay Now</button>
                          </div>
                      </form>
                  </div>
              </div>
           </div>
       </div>
   </div>
    <script type="text/javascript">
        // Create an instance of the Stripe object with your publishable API key
        var stripe = Stripe("pk_test_51ImJIiH1ST2SneRlcZYRNGSWv9DE5C9SeBkRtEjIcL72hRXM15rrWuViXIn7TibG2SJgjDHyrCWxcqUljDNm2wPn002HVq6LJB");
        var elements = stripe.elements();

        // Custom styling can be passed to options when creating an Element.
        var style = {
            base: {
                // Add your base input styles here. For example:
                fontSize: '16px',
                color: '#32325d',
            },
        };

        // Create an instance of the card Element.
        var card = elements.create('card', {style: style});

        // Add an instance of the card Element into the `card-element` <div>.
        card.mount('#card-element');


        // Create a token or display an error when the form is submitted.
        var form = document.getElementById('payment-form');
        form.addEventListener('submit', function(event) {
            event.preventDefault();

            stripe.createToken(card).then(function(result) {
                if (result.error) {
                    // Inform the customer that there was an error.
                    var errorElement = document.getElementById('card-errors');
                    errorElement.textContent = result.error.message;
                } else {
                    // Send the token to your server.
                    stripeTokenHandler(result.token);
                }
            });
        });

        function stripeTokenHandler(token) {
            // Insert the token ID into the form so it gets submitted to the server
            var form = document.getElementById('payment-form');
            var hiddenInput = document.createElement('input');
            hiddenInput.setAttribute('type', 'hidden');
            hiddenInput.setAttribute('name', 'stripeToken');
            hiddenInput.setAttribute('value', token.id);
            form.appendChild(hiddenInput);

            // Submit the form
            form.submit();
        }
    </script>
{% endblock %}
