{% extends 'base.html.twig' %}

{% block title %}Check of your pack{% endblock %}

{% block body %}

    <section>
        <div class="product mt-5 text-center">
            <img id="logo_payment" src="{{asset('build/images/Moodle.png')}}" class="shadow rounded-circle " >
            <div class="description mt-3">
                <h3>pack {{ pack.name | capitalize }}</h3>
                <br />
                <h5 id="checkout-button-price">{{ pack.price }}€ / month</h5>
                <h5>maximum limit of professors : {{ pack.nbrProfessors }}</h5>
                <h5>maximum limit of students : {{ pack.nbStudents }}</h5>
            </div>
            <a href="{{ path('payment_form', {'pack': pack.id}) }}" class="btn btn-primary mt-3">Checkout</a>

        </div>
    </section>


{% endblock %}

