
{% block title %}Change Service Plan Pack{% endblock %}

{% block body %}
    <p>Your changes to pack {{ pack.name|capitalize }} with price {{ pack.price }}/MO is successfully confirmed</p>
{% endblock %}
