{% extends 'base.html.twig' %}

{% block title %}success payment{% endblock %}

{% block body %}
    <section>
        <p>
            We appreciate your business! If you have any questions, please email
            <a href="mailto:orders@example.com">orders@example.com</a>.
        </p>
    </section>
{% endblock %}
