{{ form_start(form) }}

    {{ form_widget(form) }}

    <div class="form-group">
        <label for="selectFormAddProfessor">Subject</label>
        <select id="selectFormAddProfessor" class="form-control" name="subject">
            <option></option>
            {% for subject in subjects %}
                {% if (user.subject is defined) and (user.subject == subject) %}
                    <option value="{{ subject.id }}" selected>{{ subject.name }}</option>
                {% else %}
                    <option value="{{ subject.id }}">{{ subject.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="selectFormAddClasses">Classes (click on various options for multiple selection)</label>
        <div id="selectAboveAddClasses" class="form-control">-- click here to see classes --</div>
        <select id="selectFormAddClasses" class="form-control" name="classes[]" multiple>
            {% for group in groups %}
                <option value="{{ group.id }}">{{ group.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="text-center">
        <button class="btn btn-info my-5">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}
