{% extends 'base.html.twig' %}

{% block title %}Administrators{% endblock %}

{% block body %}
    <h1 class="my-5 text-center">Administrators</h1>

    <div class="row">
        <div class="col-md-10 offset-md-1 col-sm-12">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Actions</th>
                        <th>Account access</th>
                    </tr>
                </thead>
                <tbody>
                {% for admin in admins | sort((a1, a2) => a1.lastName <=> a2.lastName) %}
                    <tr>
                        <td>{{ admin.firstName }}</td>
                        <td>{{ admin.lastName }}</td>
                        <td>{{ admin.email }}</td>
                        <td>
                            <div class="d-flex flex-row">
                                <div class="p-2">
                                    <a href="{{ path('super_admin_show', {'id': admin.id}) }}" class="btn btn-info"><i class="fas fa-eye"></i></a>
                                </div>
                                <div class="p-2">
                                    <a href="{{ path('super_admin_transaction_index', {'id': admin.id}) }}" class="btn btn-info">Billing</a>
                                </div>
                            </div>
                            <!-- Button trigger modal -->
                        </td>
                        <td>
                            <div class="p-2">
                                <form style="display:inline;" id="form-to-submit-{{ admin.id }}" method="post" action="{{ path('super_admin_enable_or_disable_account',{'id':admin.id}) }}">
                                    <label class="switch" onclick="document.getElementById('form-to-submit-{{ admin.id }}').submit()">
                                        {% if admin.isVerified %}
                                            <input type="checkbox" checked>
                                        {% else %}
                                            <input type="checkbox">
                                        {% endif %}
                                        <div class="slider round"></div>
                                    </label>
                                </form>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">No Records Found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
