{% extends 'base.html.twig' %}

{% block title %}Professors{% endblock %}

{% block body %}
     <h1 class="my-5 text-center">Exercises for the {{group.name}}</h1>

    <div class="row">
        <div class="col-md-10 offset-md-1 col-sm-12">
            <div class="row mx-1 my-3">
                <div class="col-lg-4 col-md-6 m-auto">
                    <div class="search-bar">
                        <input type="text" id="myInput" placeholder="Search an exercise">
                        <span class="bi bi-search icon-search"></span>
                    </div>
                </div>
            </div>
            <table id="myTable" class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Name<i class="fas fa-sort icon-sort"></i></th>
                        <th>Description<i class="fas fa-sort icon-sort"></i></th>
                        <th>Subject<i class="fas fa-sort icon-sort"></i></th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for exercise in exercises %}
                        <tr>
                            <td>{{ exercise.name |u.truncate(30, '...')}}</td>
                            <td>{{ exercise.description |u.truncate(60, '...')}}</td>
                            <td>{{ exercise.subject.name |u.truncate(30, '...')}}</td>
                            <td>
                                <form method="post" action="{{ path('professor_exercise_remove', {'group': group.id,'exercise': exercise.id}) }}" onsubmit="return confirm('Are you sure you want to remove this exercise?');">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('remove' ~ exercise.id) }}">
                                    <button class="btn btn-transparent text-danger border-0"><i class="far fa-trash-alt"></i></button>
                                </form>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7">No exercise found</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
