@import "~bootstrap";
@import '~@fortawesome/fontawesome-free/css/fontawesome.css';
@import '~@fortawesome/fontawesome-free/css/regular.css';
@import '~@fortawesome/fontawesome-free/css/solid.css';
@import '~@fortawesome/fontawesome-free/css/brands.css';

$light-white: #ECEAE0;

.alert-success{
    z-index: 99!important;
}

#logo {
    width: 80px;
    height: 60px;
}

div.code {
    white-space: pre;
}

#test {
    position: relative;
    width: 750px;
    height: 275px;
}

#logo_payment {
    width: 200px;
    height: 180px;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    background-color: $light-white;
}

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

.main-container {
    padding-bottom: 0px;
    margin-top: 30px !important;
}

.main-title-page {
    margin-top: 50px;
}

.main-title-page hr {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba($color: #aaa, $alpha: 0.3);
}

.flash-message-section {
    margin-top: 150px;
}

.home-message {
    border-radius: 50px;
    padding: 20px;
    width: fit-content;
    background-color: #9c9c9c;
    color: whitesmoke;
    margin: 20px auto;
}

.home-container {
    margin-top: -74px;
    margin-bottom: -186px;
}

.home-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 50px;
}

.home-offers-button {
    margin-top: 40px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: #373E3D;
}

.home-offers-button a {
    color: whitesmoke;
}

.home-right-side {
    display: flex;
    align-items: center;
    height: calc(100vh - 76px);
    padding-right: 0px;
}

.home-right-side > div {
    margin-left: auto;
    margin-right: auto;
}

.home-right-side p {
    font-size: 24px;
    margin-top: 50px;
}

.home-left-side {
    text-align: center;
    align-items: center;
    padding-left: 0px;
    height: calc(100vh - 76px);
    overflow-y: hidden;
}

.home-left-image {
    padding: 500px 10px;
    margin-top: -300px;
    background-color: whitesmoke;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
}

.footer {
    background-color: #232b2b;
    position: sticky;
    top: 100%;
    padding: 20px;
    margin-top: 150px;
}

label.required:after {
    content: "*";
    color: red;
}

.error-outer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70vh;
}

.error-inner-container{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.text-oops{
    font-size: 9em;
    text-align: center;
}

.text-error{
    font-weight: bold;
    font-size: 1.7em;
    text-align: center;
}

.btn-error-home a{
    text-decoration: none;
    color: black;
    font-size: 1.3em;
    font-weight: bold;
}

.btn-error-home{
    margin-top: 20px;
    width: 300px;
    height: 40px;
    background-color: #f58700;
    border: 1px black solid;
    border-radius: 20px;
}


nav.navbar {
    background-color: #232B2B;
    z-index: 10;
}

.navbar ul {
    margin-left: 80px;
}

.navbar ul li {
    position: relative;
    margin: 5px 10px;
    text-transform: uppercase;
    font-size: 80%;
    letter-spacing: 2px;
}
  
.navbar a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: rgb(200, 200, 200);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.2s linear 0s;
}

.navbar a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}



///////////////////////////////
///////  CARD HOMEPAGE  ///////
///////////////////////////////

.card-deck .card {
    background-color: $light-white;
    border: none;
}

.card-header.card-pack {
    background-color: #25465F;
    color: whitesmoke;
}

.card .banner-promotion {
    border-radius: 20px;
    height: 30px;
    background-color: $light-white;
}

.card .banner-promotion .banner-text {
    background-color: #209DB9;
    color: whitesmoke;
    border-radius: 20px;
}

.card .card-body {
    background-color: whitesmoke;
}

.card .buy-button {
    text-align: center;
}


////////////////////////////////////
//////   COMMENTS SECTION   ////////
////////////////////////////////////

.light-black {
    color: #707070;
}

.button_reply_comment {
    border-radius: 20px;
    background-color: #ECEAE0;
    color: darkslategray;
}

.modal-open {
    overflow-y: scroll !important;
    padding-right: 0 !important;
}



////////////////////////////////////
//////   TABLE LIST SECTION   //////
////////////////////////////////////

.search-bar {
    max-width: 350px;
}

.search-bar input {
    width: 100%;
    height: 40px;
    padding: 0px 40px;
    border: none;
    outline: none;
    border-radius: 25px;
    border-bottom: none;
    -webkit-box-shadow: 1px 3px 10px 2px #777;
    -moz-box-shadow:    1px 3px 10px 2px #777;
    box-shadow:         1px 3px 10px 2px #777;
    background-color: rgb(255, 252, 250);
}

.icon-sort {
    float: right;
    padding-right: 10px;
    font-size: 120%;
    cursor: pointer;
    border-right: 2px solid #ccc;
}

.icon-search {
    position: absolute;
    top: 10px;
    left: 30px;
}


////////////////////////////////////
//////   CHAT SECTION   ////////////
////////////////////////////////////

.modal-custom {
    display: none;
    position: fixed;
    z-index: 0;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.button-open-chat {
    display: block;
    z-index: 5;
    position: fixed;
    bottom: 100px;
    right: 50px;
    border-radius: 50px;
    background-color: #209DB9;
}

.button-open-chat div,
.button-open-chat div:hover {
    color: whitesmoke;
    padding: 15px;
}

.button-close-chat {
    font-weight: bold;
    border-radius: 0px;
    color: whitesmoke;
}

.button-close-chat:hover {
    background-color: rgb(255, 75, 75);
    color: whitesmoke;
}

.chat-box {
    display: none;
    position: fixed;
    bottom: 0px;
    right: 20px;
    width: 600px;
    height: 80%;
    font-size: 90%;
    z-index: 10;
    background-color: whitesmoke;
    border-radius: 15px;
    -webkit-box-shadow: 1px 3px 10px 2px #777;
    -moz-box-shadow:    1px 3px 10px 2px #777;
    box-shadow:         1px 0px 40px 10px #777;
}

.main-row-box {
    height: -o-calc(100% - 38px - 20px);
    height: -webkit-calc(100% - 38px - 20px);
    //height: -moz-calc(100% - 38px - 20px);
}

.left-chat {
    border-right: 1px solid rgb(200, 200, 200);
    padding-right: 0px;
}

.right-chat {
    background-color: #ECEAE0;
    padding: 0px;
    display: flex;
    flex-flow: column;
    height: 100%;
}

.chat-box-header {
    background-color: #232b2b;
    color: whitesmoke;
}

.chat-title {
    margin: 0px;
    padding: 5px 10px;
    letter-spacing: 7px;
}

.chat-box-footer {
    height: 20px;
    background-color:#232B2B;
}

.create-conversation-button {
    color: whitesmoke;
    background-color: #232b2b;
}

.user-list-creation {
    display: none;
    max-height: 300px;
    overflow-y: scroll;
}

.user-list-creation a {
    padding: 10px;
}

.user-list-creation a:hover {
    background-color: #eee;
}

.list-group-conversation {
    max-height: 480px;
    overflow-y: scroll;
}

.list-group-conversation .list-group-item {
    cursor: pointer;
}

.list-group-item:hover ,
.list-group-item a:hover {
    background-color: #ddd;
}

.conversation-badge {
    display: block;
    height: 17px;
    background-color: #b44646;
    color: whitesmoke;
    margin-left: 5px;
}

.title-messages-section {
    background-color: #F5F5F5;
    flex: 0 1 auto;
    border-bottom: 1px solid #c2bfb0;
}

.title-messages-section div {
    padding: 10px;
    font-size: 110%;
}

.messages-section {
    flex: 1 1 auto;
    overflow-y: scroll;
}

.message-right {
    display: block;
    float: right;
    width: 70%;
    background-color: rgb(70, 130, 180);
    color: whitesmoke;
    padding: 10px 20px;
    margin: 5px 15px;
    border-radius: 10px;
}

.message-left {
    display: block;
    float: left;
    width: 70%;
    background-color: rgb(255, 255, 255);
    padding: 10px 20px;
    margin: 5px 15px;
    border-radius: 10px;
}

.message-right p,
.message-left p {
    margin-bottom: 2px;
}

.message-right small,
.message-left small {
    float: right;
}

.create-message-section {
    flex: 0 1 40px;
    padding-top: 5px;
}

.code-form{
    width: 60%;
}

.test-title{
    font-size: 1.15em;
    font-weight: bold;
}
.test-title-small{
    font-weight: bold;
}

.code-instructions{
    font-size: 0.85em;
}

#reset-code-btn{
    margin-top: 10px;
    font-size: 0.85em;
}

.test-results{
    width: 75%;
    margin: auto;
    border-collapse: collapse;
}

.test-results-line{
    height: 40px;
    text-align: center;
    padding-top: 8px;
    border-bottom: #4e555b 1px solid;
    border-right: #4e555b 1px solid;
    border-left: #4e555b 1px solid;

}

.test-results-head{
    color : white;
    text-align: center;
    background-color: #343a40;
    height: 40px;
    font-weight: bold;
    padding-top: 8px;
}

.view-tests-btn{
    width: 80%;
    color: white;
    background-color: #343a40;
    border : black solid 1px;
    border-radius: 10px;
    font-size: 0.9em;
    font-weight: bold;
    height: 30px;
}

.view-tests-btn:hover{
    background-color: #4e555b;
}

.modal-results-light{
    background-color: #ECEAE0;
}

.modal-results-dark{
    background-color: #e6e2d1;
}
////////////////////////////////////
//////   COMMON SECTION   //////////
////////////////////////////////////

.btn-disabled:hover {
    cursor: not-allowed;
}

.switch {
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #A1A6AB;
    -webkit-transition: .4s;
    transition: .4s;
  
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 14px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #800080;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .btn-block {
      padding: 0px;
  }

  .btn-block table {
      margin: 0px;
  }

  .btn-block-actived {
      border: 3px solid #232b2bb9;
  }

.modal .modal-body .form-check label {
    font-size: large !important;
}

.modal .modal-body .form-check input {
    border-radius: .25em;
    height: 30px;
}

.space-new-question .form-group-question {
    border: 1px solid grey;
    border-radius: 25px;
    padding: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#selectAboveAddClasses,
#selectAboveAddClasses:hover,
#selectAboveAddClasses:focus,
#selectAboveAddClasses:active {
    border: none !important;
    outline: none !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

#selectFormAddClasses,
#selectFormAddClasses:hover,
#selectFormAddClasses:focus,
#selectFormAddClasses:active {
    border: none;
    border-radius: 0px;
    -webkit-appearance:none;
    box-shadow: none !important;
}

#selectFormAddClasses {
    display: none;
}

#selectFormAddClasses option {
    font-size: 110%;
    padding: 10px;
    border-bottom: 1px solid rgb(200, 200, 200);
}

table .form-check-input {
    height: 15px;
    width: 15px;
}

#remove-checkbox-button,
#remove-checkbox-button1,
#remove-checkbox-button2 {
    display: none;
}




@media only screen and (max-width: 1100px) {

    .navbar img {
        display: none;
    }

    .main-container {
        margin-top: 61px !important;
    }

}



@media only screen and (max-width: 992px) {

    .navbar ul {
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
    }

    .navbar ul li {
        text-align: center;
    }

    .navbar hr {
        height: 1px;
        background-color: rgba($color: #aaa, $alpha: 0.3);
        width: 40%;
    }

    .main-container {
        margin-top: 56px !important;
    }

    .home-left-side {
        padding-right: 0px;
        height: auto;
    }
    
    .home-left-image {
        width: 100%;
        padding: 20px;
        margin-top: 0px;
        background-color: whitesmoke;
        border-radius: 0px;
    }

    .home-image {
        width: 100%;
        width: auto;
        height: auto;
        border-radius: 0px;
    }

    .home-right-side {
        align-items: center;
        height: auto;
        padding-right: auto;
        margin-top: 50px;
    }
    
    .home-right-side > div {
        margin-left: auto;
        margin-right: auto;
    }

    .home-right-side h1 {
        font-size: 26px;
    }
    
    .home-right-side p {
        font-size: 16px;
        margin-top: 10px;
    }
}


@media only screen and (max-width: 767px) {
    .notfound .notfound-404 h1 {
        font-size: 148px;
    }
}

@media only screen and (max-width: 480px) {
    .notfound .notfound-404 {
        height: 148px;
        margin: 0px auto 10px;
    }
    .notfound .notfound-404 h1 {
        font-size: 86px;
    }
    .notfound .notfound-404 h2 {
        font-size: 16px;
    }
    .notfound a {
        padding: 7px 15px;
        font-size: 14px;
    }
}

