{% extends 'base.html.twig' %}
{% block body %}
	<div id="notfound">
		<div class="error-outer-container">
			<div class="error-inner-container">
				<span class="text-oops">Oops!</span>
				<span class="text-error">404 Not found - The requested URL was not found on this server</span>
				<div class="home-offers-button"><a href="{{path('home')}}" >Go to Homepage</a></div>
			</div>
		</div>
	</div>
{% endblock %}