{% extends 'base.html.twig' %}

{% block title %}Student{% endblock %}

{% block body %}
     <h1 class="my-5 text-center">Students</h1>

    <div class="row">
        <div class="col-md-10 offset-md-1 col-sm-12">
            <table class="table table-striped">
                <thead class="thead-dark">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#example{{user.id}}">
                    Add to Group
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="example{{user.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">List Group</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <ul class="list-group">
                        {% for group in groups %}
                              <li class="list-group-item">
                                <a href="{{ path('professor_student_group_new', {'student':user.id ,'group': group.id,'professor': app.user.id}) }}" class="btn btn-info">{{ group.name }} </a>
                             </li>
                        {% else %}
                                <li class="list-group-item">No Group Found</li>
                        {% endfor %}
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                        </div>
                    </div>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">No Students Found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
