{% extends 'base.html.twig' %}

{% block title %}Students index{% endblock %}

{% block body %}

    <h1 class="main-title-page text-center">Students</h1>

    <div class="row">
        <div class="col-md-10 offset-md-1 col-sm-12">
            <div class="row mx-1 my-3">
                <a href="{{ path('admin_student_new') }}" class="btn btn-info"professor_><i class="fas fa-user-plus pr-2"></i><small>CREATE STUDENT</small></a>
                <div class="ml-3">Currently: {{ nbStudents }} students</div>
            </div>
            <div class="row mr-5 my-3">
                <div class="mx-3">{{ include('admin/student/_upload.html.twig')}}</div>
                <div class="col-lg-4 col-md-6 mx-auto">
                    <div class="search-bar">
                        <input type="text" id="myInput" placeholder="Search a student">
                        <span class="bi bi-search icon-search"></span>
                    </div>
                </div>
            </div>
            <div id="myTable">
                <table id="allStudentsTableAdmin" class="table table-striped">
                    <button id="remove-checkbox-button" class="btn btn-danger mb-3 checkbox-remove" data-toggle="modal" data-target="#modalRemoveStudents"><i class="fas fa-trash mr-2"></i>Remove (<span class="count-checkbox">0</span> selected)</button>
                    <div class="modal fade" id="modalRemoveStudents" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Confirmation</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to delete the selected student(s) ?</p>
                                    <form id="modalFormRemoveStudents" action="{{ path('admin_admin_student_delete_users') }}" method="post">
                                        <input type="hidden" name="_token" value="{{ csrf_token('deleteUsers') }}">
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="confirmButton-modalFormRemoveStudents btn btn-info">Confirm</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <thead class="thead-dark">
                        <tr>
                            <th>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="checkbox-all" data-id="allStudentsTableAdmin">
                                    <label class="form-check-label" for="flexCheckDefault"></label>
                                </div>
                            </th>
                            <th>First Name<i class="fas fa-sort icon-sort"></i></th>
                            <th>Last Name<i class="fas fa-sort icon-sort"></i></th>
                            <th>Email<i class="fas fa-sort icon-sort"></i></th>
                            <th>Class<i class="fas fa-sort icon-sort"></i></th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>
                                <div class="form-check form-check-remove">
                                    <input class="form-check-input" type="checkbox" value="" id="checkbox-{{ user.id }}">
                                    <label class="form-check-label" for="flexCheckDefault"></label>
                                </div>
                            </td>
                            <td>{{ user.firstName }}</td>
                            <td>{{ user.lastName }}</td>
                            <td>{{ user.email }}</td>
                            {% if user.studentGroup %}
                                <td>{{ user.studentGroup.name }}</td>
                            {% else %}
                                <td>no class</td>
                            {% endif %}
                            <td>
                                <a href="{{ path('admin_student_show', {'id': user.id}) }}" class="btn btn-info"><i class="fas fa-eye"></i> show</a>
                                <a href="{{ path('admin_student_edit', {'id': user.id}) }}" class="btn btn-info"><i class="fas fa-pen"></i> edit</a>
                                <!-- Button trigger modal -->
                                {% if user.studentGroup %}
                                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#example{{user.id}}">change Class</button>
                                {% else %}
                                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#example{{user.id}}">Add to Class</button>
                                {% endif %}
                                <!-- Modal -->
                                <div class="modal fade" id="example{{user.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">List Classes</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <ul class="list-group">
                                    {% for group in groups %}
                                        <li class="list-group-item">
                                            <a href="{{ path('admin_student_group_new', {'student':user.id ,'group': group.id}) }}" class="btn btn-info">{{ group.name }} </a>
                                        </li>
                                    {% else %}
                                            <li class="list-group-item">No Group Found</li>
                                    {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                    </div>
                                </div>
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7">No Records Found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
