{% extends 'base.html.twig' %}

{% block title 'Profile' %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto text-center">
            <h1 class="my-5">Profile</h1>

            <i class="fas fa-user-cog fa-10x"></i>

            <p class="mt-3 lead">{{ app.user.email }}</p>

            <hr>

            <h2>{{ app.user.fullName }}</h2>


            <p>
                <a href="{{ path('student_account_edit') }}">Edit Account</a> | 
                <a href="{{ path('student_account_change_password') }}">Change Password</a>
            </p>
        </div>
    </div>
{% endblock %}
