{% extends 'base.html.twig' %}

{% block title %}Transaction index{% endblock %}

{% block body %}

<h1 class="my-5 text-center">{{ user.lastName }}</h1>

<div class="row">
    <div class="col-md-10 offset-md-1 col-sm-12">
        <table class="col-md-8 offset-md-2 table table-striped table-bordered">
            <tbody>
                <tr>
                    <th>The active Plan</th>
                    {% if pack is null %}
                        <td><span class="font-weight-bold">no pack enable for this user</span></td>
                    {% else %}
                        <td><span class="font-weight-bold">{{ pack.name}}</span> for EUR{{ pack.price }}/month</td>
                        <tr>
                            <th>Next bill</th>
                            {% if bill %}
                                <td>{{ bill.endDate ? bill.endDate|date('Y-m-d') : ' - ' }}</td>
                            {% else %}
                                <td> - </td>
                            {% endif %}
                        </tr>
                    {% endif %}
                </tr>
            </tbody>
        </table>
        <h3 class="mt-2 mb-5 text-center">Billing Details</h3>
        </table>
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Service period</th>
                <th>SubTotal</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.startDate ? transaction.startDate|date('Y-m-d') : '' }}</td>
                <td>{{ transaction.description }}</td>
                <td>{{ transaction.startDate ? transaction.startDate|date('Y-m-d') : '' }} to {{ transaction.endDate ? transaction.endDate|date('Y-m-d') : '' }}</td>
                <td>EURO {{ transaction.subTotal }}<span class="text-muted">(+EUR2 VAT)</span></td>
                <td>EURO {{ transaction.total }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock %}
