{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="col-lg-12 offset-lg-0 col-md-10 offset-md-1">
        {{ form_start(registrationForm) }}
            <div class="card bg-light shadow-lg my-3 p-0 col-md-6 offset-md-3" style="color:black;">
                <h3 class="text-center card-header pl-0 pr-0">Sign Up</h3>
                <div class="card-body p-3">
                    <div class="card-text">
                        <div class="row pl-5 pr-5">
                            <div class="form-group col-12 pl-0">
                                {{ form_row(registrationForm.firstName) }}
                            </div>
                        </div>
                        <div class="row pl-5 pr-5">
                            <div class="form-group col-12 pl-0">
                            {{ form_row(registrationForm.lastName) }}
                            </div>
                        </div>
                        <div class="row pl-5 pr-5">
                            <div class="form-group col-12 pl-0">
                                {{ form_row(registrationForm.email) }}
                            </div>
                        </div>
                        <div class="row pl-5 pr-5">
                            <div class="form-group col-12 pl-0">
                                {{ form_row(registrationForm.plainPassword,{ label: 'Password' }) }}
                            </div>
                        </div>
                        <div class="row mt-4 d-flex justify-content-center">
                            <button class="btn btn-info btn-lg" type="submit" formnovalidate>sign up</button>
                        </div>
                        <div class="row pl-5 pr-5">
                            <p class="mt-5 text-center text-muted">Already have an account?<a href="{{ path('app_login') }}">Login in account</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
