{% extends 'base.html.twig' %}

{% block title %}Transaction index{% endblock %}

{% block body %}

<h1 class="text-center main-title-page">Change Service Plan</h1>

<div class="row">
    <div class="col-md-8 offset-md-2 col-sm-12">
        {% for pack in packs %}
            {% if pack == adminPack %}
                <a class="btn btn-infos btn-block btn-block-actived my-4">
                    <table class="table table-striped table-bordered">
                        <tbody>
                            <tr>
                                <th>Your plan</th>
                                <td><span class="font-weight-bold">{{ pack.name}}</span> for EUR{{ pack.price }}/month</td>
                            </tr>
                            <tr style="background-color:rgba(240,240,240,0.8);">
                                <th>Your next bill</th>
                                {% if bill %}
                                    <td>{{ bill.endDate ? bill.endDate|date('Y-m-d') : ' - ' }}</td>
                                {% else %}
                                    <td> - </td>
                                {% endif %}
                            </tr>
                        </tbody>
                    </table>
                </a>
            {% else %}
                <a class="btn btn-infos btn-block my-4" href="{{ path('admin_payment_edit',{'pack':pack.id}) }}">
                    <table class="table table-striped table-bordered border border-primary">
                        <tbody>
                            <tr>
                                <th>Change Your plan To </th>
                                <td><span class="font-weight-bold">{{ pack.name}}</span> for EUR{{ pack.price }}/month</td>
                            </tr>
                        </tbody>
                    </table>
                </a>
            {% endif %}
        {% endfor %}
        <h3 class="mt-2 mb-5 text-center">Billing Details</h3>
        </table>
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Date<i class="fas fa-sort icon-sort"></i></th>
                <th>Description<i class="fas fa-sort icon-sort"></i></th>
                <th>Service period<i class="fas fa-sort icon-sort"></i></th>
                <th>SubTotal</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.startDate ? transaction.startDate|date('Y-m-d') : '' }}</td>
                <td>{{ transaction.description }}</td>
                <td>{{ transaction.startDate ? transaction.startDate|date('Y-m-d') : '' }} to {{ transaction.endDate ? transaction.endDate|date('Y-m-d') : '' }}</td>
                <td>EURO {{ transaction.subTotal }}<span class="text-muted">(+EUR2 VAT)</span></td>
                <td>EURO {{ transaction.total }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock %}
