{% extends 'base.html.twig' %}

{% block title %}Hello Professor!{% endblock %}

{% block body %}

<div class="text-center main-title-page">
    <h1>Hello professor</h1>
    <hr>
</div>

{% endblock %}