{% for type, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ type }} w-75 mx-auto text-center my-2" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
    {% endfor %}
{% endfor %}