{% extends 'base.html.twig' %}

{% block title %}Classes{% endblock %}

{% block body %}
<h1 class="main-title-page text-center">Classes</h1>

    <div class="row">
        <div class="col-md-10 offset-md-1 col-sm-12">
            <div class="row mx-1 my-3">
                <a href="{{ path('admin_group_new')}}" class="btn btn-info"group_>Add new class</a>
                <div class="col-lg-4 col-md-6 m-auto">
                    <div class="search-bar">
                        <input type="text" id="myInput" placeholder="Search a class">
                        <span class="bi bi-search icon-search"></span>
                    </div>
                </div>
            </div>
            <table id="myTable" class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Name<i class="fas fa-sort icon-sort"></i></th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for group in groups %}
                        <tr>
                            <td>{{ group.name }}</td>
                            <td>
                                <a href="{{ path('admin_group_show', {'id': group.id}) }}" class="btn btn-info"><i class="fas fa-eye"></i> show</a>
                                <a href="{{ path('admin_group_edit', {'id': group.id}) }}" class="btn btn-info"><i class="fas fa-pen"></i> edit</a>
                                <button class="btn btn-info" data-toggle="modal" data-target="#modalAddStudents{{group.id}}">Add students</button>
                                <button class="btn btn-info" data-toggle="modal" data-target="#modalAddProfessors{{group.id}}">Add professors</button>

                                <!-- MODAL STUDENTS -->
                                <div class="modal fade" id="modalAddStudents{{ group.id }}" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-scrollable" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Students without class</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form id="modalFormAddStudents{{ group.id }}" action="{{ path('admin_student_group_add',{'id': group.id}) }}" method="post">
                                                    {% for student in students %}
                                                        <div class="container form-check w-100">
                                                            <div class="row">
                                                                <label class="col-10 form-check-label d-inline" for="checkbox-{{ student.id }}">{{ student.lastname | upper }} {{ student.firstname | capitalize}}</label>
                                                                <input class="col-2" type="checkbox" value="" id="checkbox-{{ student.id }}" name="checkbox-{{ student.id }}">
                                                            </div>
                                                        </div>
                                                        <hr>
                                                    {% else %}
                                                        <div>no student without class</div>
                                                    {% endfor %}
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button data-group="{{ group.id }}" type="button" class="submitButtonFormModalAddStudents btn btn-info">Save changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- MODAL PROFESSORS -->
                                <div class="modal fade" id="modalAddProfessors{{ group.id }}" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-scrollable" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Professors available</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form id="modalFormAddProfessors{{ group.id }}" action="{{ path('admin_admin_professor_group_add',{'group': group.id}) }}" method="post">
                                                    {% for professor in professors | professorsAvailable(group.id, app.user) %}
                                                        <div class="container form-check w-100">
                                                            <div class="row">
                                                                <label class="col-10 form-check-label d-inline" for="checkbox-{{ professor.id }}">{{ professor.lastname | upper }} {{ professor.firstname | capitalize}}</label>
                                                                <input class="col-2" type="checkbox" value="" id="checkbox-{{ professor.id }}" name="checkbox-{{ professor.id }}">
                                                            </div>
                                                        </div>
                                                        <hr>
                                                    {% else %}
                                                        <div>no professor available</div>
                                                    {% endfor %}
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button data-group="{{ group.id }}" type="button" class="submitButtonFormModalAddProfessors btn btn-info">Save changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">no records found</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}







