{{ form_start(form) }}
    {{ form_widget(form) }}

    <div class="form-group">
        <label for="assignation-professor">Assign this subject to a professor ?</label>
        <select id="assignation-professor" class="form-control" name="professor">
            <option selected></option>
            {% for professor in professors %}
                <option value="{{ professor.id }}">{{ professor.lastname | upper }} {{ professor.firstname | capitalize }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="text-center">
        <button class="btn btn-info my-5">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}
