{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <div class="m-auto text-center">
        <h1>Reset your password</h1>

        {{ form_start(resetForm) }}
            <div class=" text-center row pl-5 pr-5 mt-5 ml-5 w-100">
                <div class="form-group col-12 pl-0">
                    {{ form_row(resetForm.newPassword) }}
                </div>
            </div>
            <button class="btn btn-primary">Reset password</button>
        {{ form_end(resetForm) }}
    </div>
{% endblock %}
