{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}

    <div class="home-container container-fluid">
        <div class="row">
            <div class="col-lg-6 home-left-side">
                <div class="home-left-image">
                    <img src="{{asset('build/images/image_home5.png')}}" alt="home image for illustration" class="home-image"></img>
                </div>
            </div>
            <div class="col-lg-5 home-right-side">
                <div class="w-75">
                    <div>
                        <h1 class="display-6 mb-3">EXERCISE IN A FUN WAY</h1>
                        <hr>
                        <p>Our platform allows the management of students and teachers, and includes an online exercise creation tool whether it is qcm, free answer or even computer code.<br />
                        You are a school structure and this tool corresponds perfectly to your needs ?<br />
                        So don't hesitate and subscribe to one of our offers to take advantage of it now.</p>
                    </div>
                    <div class="home-offers-button"><a href="{{ path('packs') }}">DISCOVER OUR OFFERS</a></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}