{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}

    <div class="text-center main-title-page mb-5">
        <h1 class="display-5 font-weight-bold">All our offers</h1>
        <hr>
    </div>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="card-deck col-md-10" style="color:black;">
                {% for offre in offres %}
                    <div class="col-lg-3 col-md-6 col-sm-12 px-0 py-2">
                        <div class="card border-light">
                            <div class="banner-promotion mb-3">
                                {% if offre.promotion %}
                                    <p class="banner-text text-center h-100 font-weight-bold h5">Good deal</p>
                                {% endif %}
                            </div>
                            <div class="card-header card-pack">
                                <h2 class="display-5">{{ offre.name | capitalize }}</h2>
                            </div>
                            <div class="card-body border shadow-lg p-4">
                                <div class="card-text">
                                    <div class="price">
                                        <p class="font-weight-bold">Price</p>
                                        <p class="font-weight-bold h4 text-center"> {{ offre.price }} € / Month</p>
                                    </div>
                                    {% if offre.promotion %}
                                        <div class="promotion">
                                            <small>for {{ offre.freeDuration }} {{ offre.typeDuration }} then {{ offre.oldPrice }} €</small>
                                        </div>
                                    {% endif %}
                                    <hr>
                                    <div class="people">
                                        <p class="font-weight-bold">Limits</p>
                                        <ul>
                                        <li>up to {{ offre.nbstudents }} students</li>
                                        <li>up to {{ offre.nbrProfessors }} professors</li>
                                        </ul>
                                    </div>
                                    <hr>
                                </div>
                                <div class="buy-button w-100">
                                    <a href="{{ path('admin_payment_index',{'pack': offre.id})}}"><button class="btn btn-warning w-50 my-3 rounded-pill">Acheter</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}