<div>
    {{ form_start(form) }}
        <p>Fields marked with an <span style="color:red;">*</span> are required</p>
        <div class="my-4">
            {{ form_row(form.name) }}
        </div>
        <div class="my-4">
            <div class="d-block">{{ form_label(form.price) }}</div>
            {{ form_errors(form.price) }}
            {{ form_widget(form.price, {'attr': {'class': 'w-25 d-inline'}}) }} <span class="d-inline">€</span>
            {{ form_help(form.price) }}
        </div>
        <div class="my-4">
            <div class="d-block">{{ form_label(form.oldPrice) }}</div>
            {{ form_errors(form.oldPrice) }}
            {{ form_widget(form.oldPrice, {'attr': {'class': 'w-25 d-inline'}}) }} <span class="d-inline">€</span>
            {{ form_help(form.oldPrice) }}
        </div>
        <div class="my-4">
            {{ form_row(form.nbStudents) }}
        </div>
        <div class="my-4">
            {{ form_row(form.nbrProfessors) }}
        </div>
        <div class="promotion-region">
            <div class="my-4">
                {{ form_row(form.promotion) }}
            </div>
            <div id="details_promotion" class="my-4 row" style="display:none;">
                {{ form_row(form.free_duration) }}
                {{ form_row(form.type_duration) }}
            </div>
        </div>
        <div class="my-4">
            <button class="btn btn-secondary">{{ button_label|default('Save') }}</button>
        </div>
    {{ form_end(form) }}
</div>
