{% extends 'base.html.twig' %}

{% block title %}Edit Pack{% endblock %}

{% block body %}
    <h1 class="my-5 text-center">Edit Pack</h1>

    <div class="row">
        <div class="col-md-2">
            <a href="{{ path('super_admin_index') }}" class="btn btn-secondary"><< Back</a>
        </div>
        <div class="col-md-8">
            {{ include('super-admin/pack/_form.html.twig', {'button_label': 'Update'}) }}
            </br>
            {{ include('super-admin/pack/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
