{% extends 'base.html.twig' %}

{% block title %}New Pack{% endblock %}

{% block body %}
    <h1 class="my-5 text-center">Create new Pack</h1>

    <div class="row">
        <div class="col-md-2">
            <a href="{{ path('super_admin_pack_index') }}" class="btn btn-secondary"><< Back</a>
        </div>
        <div class="col-md-6 col-sm-10 mb-5">
            {{ include('super-admin/pack/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
